[run]
branch = True

[paths]
source =
    <%= projectName %>

[report]
fail_under = 50

exclude_lines =
    def __repr__
    def __str__

include =
    <%= projectName %>./*

omit =
    **/tests/**
    **/migrations/**

[html]
directory = cover
